@model IEnumerable<Associacao.App.Models.MensalidadeViewModel>

@{
    ViewData["Title"] = "Lista de mensalidades";
    var listaTipoPagamento = (IEnumerable<SelectListItem>)TempData["listaTipoPagamento"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <br/>
</p>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Index">
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Vencimento inicial</label>
                    <input name="dataVencimentoInicial" class="form-control" type="date" value="@ViewBag.DataVencimentoInicial"/>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Vencimento final</label>
                    <input name="dataVencimentoFinal" class="form-control" type="date" value="@ViewBag.DataVencimentoFinal" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Pagamento</label>
                    @Html.DropDownList("statusPagamento", new SelectList(listaTipoPagamento, "Value", "Text", ViewBag.statusPagamento), new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                </div>
                <div class="form-group col-md-1">
                    <input type="submit" value="Buscar" class="btn btn-primary" style="margin-top: 32px" />
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Pago"></label>
            </th>
            <th>
                <label asp-for="First().DataVencimento"></label>
            </th>
            <th>
                <label asp-for="First().DataPagamento"></label>
            </th>
            <th>
                <label asp-for="First().Valor"></label>
            </th>
            <th>
                <label asp-for="First().Pessoa"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @item.DataVencimento
            </td>
            <td>
                @item.DataPagamento
            </td>
            <td>
                @item.Valor
            </td>
            <td>
                @item.Pessoa.Nome
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
